.quantity-select .minus_btn, .quantity-select .plus_btn {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    border-right: 1px #eee solid;
    cursor: pointer;
    border-radius: 21px 0 0 21px;
    -webkit-border-radius: 21px 0 0 21px;
    transition: all .15s;
    -webkit-transition: all .15s;
  }
  
  .quantity-select .minus_btn:hover, .quantity-select .plus_btn:hover {
    background: #eee;
  }
  
  .quantity-select .minus_btn:active, .quantity-select .plus_btn:active {
    background: #e0e0e0;
  }
  
  .quantity-select .minus_btn:before, .quantity-select .plus_btn:before {
    width: 14px;
    height: 1px;
    background: #555;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -7px;
    content: "";
  }
  
  .quantity-select .plus_btn:after {
    width: 1px;
    height: 14px;
    background: #555;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -6.5px;
    margin-left: -.5px;
    content: "";
  }
  
  .quantity-select .number {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #888;
  }
  
  .quantity-select .plus_btn {
    left: auto;
    right: 0;
    border: none;
    border-left: 1px #eee solid;
    border-radius: 0 21px 21px 0;
    -webkit-border-radius: 0 21px 21px 0;
  }

  .small-preview{
    width: 100px;
    height: 100px;
  }

  
