        <div class="header-empty-space"></div>

        <div class="container">
            <div class="empty-space col-xs-b15 col-sm-b50"></div>
            <div class="row">
                <div class="col-md-12 ">
                        <!-- col-md-push-1 -->
                    <div class="row">
                        <div class="col-sm-6 col-xs-b30 col-sm-b0">
                            
                            <div class="main-product-slider-wrapper swipers-couple-wrapper">
                                <div class="swiper-container swiper-control-top">
                                   <div class="swiper-button-prev hidden"></div>
                                   <div class="swiper-button-next hidden"></div>
                                   <div class="swiper-wrapper">
                                       <div class="swiper-slide" *ngFor="let item of product.images">
                                            <div class="swiper-lazy-preloader"></div>
                                            <div class="product-big-preview-entry swiper-lazy" [ngStyle]="{'background-image': 'url(' + item + ')'}"></div>
                                       </div>
                                   </div>
                                </div>

                                <div class="empty-space col-xs-b30 col-sm-b40"></div>

                                <div class="swiper-container swiper-control-bottom" data-breakpoints="1" data-xs-slides="3" data-sm-slides="3" data-md-slides="4" data-lt-slides="4" data-slides-per-view="5" data-center="1" data-click="1">
                                   <div class="swiper-button-prev hidden"></div>
                                   <div class="swiper-button-next hidden"></div>
                                   <div class="swiper-wrapper">
                                       <div class="swiper-slide" *ngFor="let item of product.images">
                                            <div class="product-small-preview-entry">
                                                <img class="small-preview" [src]="item" alt="" />
                                            </div>
                                        </div>

                                   </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-6">
                            <div class="simple-article size-4 grey col-xs-b5">{{product.category.title}}</div>
                            <div class="h3 col-xs-b25">{{product.name}}</div>
                            <div class="row col-xs-b25">
                                <div class="col-sm-6">
                                    <div class="simple-article size-6 grey">PRICE: <span class="color" style="color: red;"><strong>{{product.price | number :'1.0-3'}} vnđ</strong></span></div>        
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6 col-sm-text-left">
                                    <div class="simple-article size-3 col-xs-b20">AVAILABLE.: 
                                        <ng-container *ngIf="product.quantity > 0; else elseTemplate">
                                            <span class="grey">YES</span>
                                        </ng-container>
                                        <ng-template #elseTemplate>
                                            <span class="grey">NO</span>
                                        </ng-template>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row col-xs-b40">
                                <div class="col-sm-3">
                                    <div class="h6 detail-data-title size-1">size:</div>
                                </div>
                                <div class="col-sm-9">
                                    <select class="SlectBox">
                                        <option disabled="disabled" selected="selected">Choose size</option>
                                        <option value="volvo">Volvo</option>
                                        <option value="saab">Saab</option>
                                        <option value="mercedes">Mercedes</option>
                                        <option value="audi">Audi</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row col-xs-b40">
                                <div class="col-sm-3">
                                    <div class="h6 detail-data-title">color:</div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="color-selection size-1">
                                        <div class="entry active" style="color: #a7f050;"></div>
                                        <div class="entry" style="color: #50e3f0;"></div>
                                        <div class="entry" style="color: #eee;"></div>
                                        <div class="entry" style="color: #4d900c;"></div>
                                        <div class="entry" style="color: #edb82c;"></div>
                                        <div class="entry" style="color: #7d3f99;"></div>
                                        <div class="entry" style="color: #3481c7;"></div>
                                        <div class="entry" style="color: #bf584b;"></div>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row col-xs-b40">
                                <div class="col-sm-3">
                                    <div class="h6 detail-data-title size-1">quantity:</div>
                                </div>
                                <div class="col-sm-9">
                                    <div class="quantity-select">
                                        <!-- <span class="minus"></span>
                                        <input type="number" class="number"> -->
                                        
                                        <!-- <span class="number">1</span> -->
                                        <!-- <span class="plus"></span> -->
                                        <span class="minus_btn" (click)="changeQty(-1)"></span>
                                        <input class="number"  type="number"  value="1" min="1" max="product.quantity" [(ngModel)]="amount"
						                (change)="checkQty($event.target.value)"
                                        onkeydown="javascript: return event.keyCode === 8 || event.keyCode === 46 ? true : !isNaN(Number(event.key))" />                               
                                        <span class="plus_btn" (click)="changeQty(1)"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row m5 col-xs-b40">
                                
                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    
                                </div>
                                
                                <div class="col-sm-6 col-xs-b10 col-sm-b0">
                                    <span class="button size-2 style-2 block" (click)="addCart()" >
                                        <span class="button-wrapper" >
                                            <span class="icon"><img src="../../../../assets/customer/img/icon-2.png" alt=""></span>
                                            <span class="text">add to cart</span>                                            
                                        </span>
                                    </span>
                                </div>

                                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                    
                                    </div>
                            </div>
                        </div>
                    </div>

                    <div class="empty-space col-xs-b35 col-md-b70"></div>

                    <div class="tabs-block">
                        <div class="tabulation-menu-wrapper text-center">
                            <div class="tabulation-title simple-input">description</div>
                            <ul class="tabulation-toggle">
                                <li><a class="tab-menu active">description</a></li>
                                <li><a class="tab-menu">technical specs</a></li>
                            </ul>
                        </div>
                        <div class="empty-space col-xs-b30 col-sm-b60"></div>

                        <div class="tab-entry visible">
                            <!-- <div class="row">
                                <div class="col-sm-6 col-xs-b30 col-sm-b0">
                                    <div class="simple-article">
                                        <img class="rounded-image" src="../../../../assets/customer/img/thumbnail-15.jpg" alt="" />
                                    </div>
                                    <div class="empty-space col-xs-b25"></div>
                                    <div class="h5">Nullam et massa nulla</div>
                                    <div class="empty-space col-xs-b20"></div>
                                    <div class="simple-article size-2">Sed sodales sed orci molestie tristique. Nunc dictum, erat id molestie vestibulum, ex leo vestibulum justo, luctus tempor erat sem quis diam. Lorem ipsum dolor sit amet.</div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="simple-article">
                                        <img class="rounded-image" src="../../../../assets/customer/img/thumbnail-16.jpg" alt="" />
                                    </div>
                                    <div class="empty-space col-xs-b25"></div>
                                    <div class="h5">Vivamus ut posuere nunc</div>
                                    <div class="empty-space col-xs-b20"></div>
                                    <div class="simple-article size-2">Sed sodales sed orci molestie tristique. Nunc dictum, erat id molestie vestibulum, ex leo vestibulum justo, luctus tempor erat sem quis diam. Lorem ipsum dolor sit amet.</div>
                                </div>
                            </div>

                            <div class="empty-space col-xs-b35 col-md-b70"></div>

                            <div class="left-right-entry clearfix align-right">
                                <div class="preview-wrapper">
                                    <img class="preview" src="../../../../assets/customer/img/thumbnail-17.jpg" alt="" />
                                </div>
                                <div class="description">
                                    <div class="h5">Aenean a tincidunt felis</div>
                                    <div class="empty-space col-xs-b15"></div>
                                    <div class="simple-article size-2">Sed sodales sed orci molestie tristique. Nunc dictum, erat id molestie vestibulum, ex leo vestibulum justo, luctus tempor erat sem quis diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur vulputate elit.</div>
                                    <div class="empty-space col-xs-b30 col-sm-b45"></div>
                                    <div class="h5">Nulla sed arcu ipsum</div>
                                    <div class="empty-space col-xs-b15"></div>
                                    <div class="simple-article size-2">Nullam et massa nulla. Quisque nec magna ornare tellus consequat lacinia a quis sem. Vivamus ut posuere nunc. Praesent porttitor vitae augue in semper. Vestibulum non leo et nisi facilisis consequat. Ut volutpat augue faucibus, fermentum turpis convallis, lobortis augue.</div>
                                </div>
                            </div>

                            <div class="empty-space col-xs-b35 col-md-b70"></div>

                            <div class="left-right-entry clearfix">
                                <div class="preview-wrapper">
                                    <img class="preview" src="../../../../assets/customer/img/thumbnail-18.jpg" alt="" />
                                </div>
                                <div class="description">
                                    <div class="h5">Aenean a tincidunt felis</div>
                                    <div class="empty-space col-xs-b15"></div>
                                    <div class="simple-article size-2">Sed sodales sed orci molestie tristique. Nunc dictum, erat id molestie vestibulum, ex leo vestibulum justo, luctus tempor erat sem quis diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur vulputate elit.</div>
                                    <div class="empty-space col-xs-b30 col-sm-b45"></div>
                                    <div class="h5">Nulla sed arcu ipsum</div>
                                    <div class="empty-space col-xs-b15"></div>
                                    <div class="simple-article size-2">Nullam et massa nulla. Quisque nec magna ornare tellus consequat lacinia a quis sem. Vivamus ut posuere nunc. Praesent porttitor vitae augue in semper. Vestibulum non leo et nisi facilisis consequat. Ut volutpat augue faucibus, fermentum turpis convallis, lobortis augue.</div>
                                </div>
                            </div> -->
                            <div class="boxArticle">
                                <article class="area_article area_articleFull">
                                    <div [innerHTML]="product.description"></div>
                                </article>
                            </div>
                            
                        </div>

                        <div class="tab-entry">
                            <div class="h5">watch 38mm</div>
                            <div class="empty-space col-xs-b15"></div>
                            <div class="row">
                                <div class="col-sm-6" *ngFor="let item of specArray">
                                    <div class="product-description-entry row">
                                        <div class="col-xs-6">
                                            <div class="h6">{{item.key}}:</div>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <div class="simple-article size-2">{{ item.value }}</div>
                                        </div>
                                    </div>  
                                </div>
                            </div>
                            <div class="empty-space col-xs-b30 col-sm-b60"></div>

                        </div>
                    </div>

                    <div class="empty-space col-xs-b35 col-md-b70"></div>