
<div class="header-empty-space"></div>

<div class="container">
  <div class="empty-space col-xs-b15 col-md-b70"></div>
  <div class="text-center">
    <div class="simple-article size-3 grey uppercase col-xs-b5">checkout</div>
    <div class="h2">check your info</div>
    <div class="title-underline center"><span></span></div>
  </div>
</div>

<div class="empty-space col-xs-b35 col-md-b50"></div>


<div class="container">
    <form (ngSubmit)="onSubmit()">

  <div class="row">
    <div class="col-md-6 col-xs-b50 col-md-b0">
      <h4 class="h4 col-xs-b25">Billing Address</h4>
      <div style="display: flex; justify-content: space-between;">
          <ng-select class="custom" placeholder="Select Address" style="width: 75%;" (change)="change_Address_Bill($event)">
              <ng-option [value]="item" *ngFor="let item of user.addresses">{{item.fullname}}</ng-option>
          </ng-select>
          <div class="button block size-1 style-2 open-popup" data-rel="5"> 
              <span class="button-wrapper">
                <span class="icon"
                  ><img src="../../../../assets/customer/img/icon-4.png" alt=""
                /></span>
                <span class="text">New Address</span>
              </span>
            </div>
      </div>
      <div class="empty-space col-xs-b10"></div>

        <div class="empty-space col-xs-b20"></div>
        <input
          class="simple-input"
          type="text"
          placeholder="Bill address"
          [value]="name_bill"
          disabled
        />
        <div class="empty-space col-xs-b20"></div>
            <input
              class="simple-input"
              type="text"
              placeholder="Phone"
              [value]="phone_bill"
              disabled
            />
            <div class="empty-space col-xs-b20"></div>
        <div class="empty-space col-xs-b30"></div>

        <label class="checkbox-entry checkbox-toggle-title">
            <input type="checkbox" [(ngModel)]="different_address" [ngModelOptions]="{standalone: true}" ><span>ship to different address?</span>
        </label>
        <div class="checkbox-toggle-wrapper">
            <div class="empty-space col-xs-b40"></div>
            <div style="display: flex; justify-content: space-between;">
                <ng-select class="custom" placeholder="Select Address" style="width: 75%;" (change)="change_shipping($event)">
                    <ng-option [value]="item" *ngFor="let item of user.addresses">{{item.fullname}}</ng-option>
                </ng-select>
                <div class="button block size-1 style-2" data-rel="5">
                    <span class="button-wrapper">
                      <span class="icon"
                        ><img src="../../../../assets/customer/img/icon-4.png" alt=""
                      /></span>
                      <span class="text">New Address</span>
                    </span>
                  </div>
            </div>
        <div class="empty-space col-xs-b20"></div>
        <input
          class="simple-input"
          type="text"
          [value]="name_ship"
          placeholder="Shipping address"
          #address1
        />
        <div class="empty-space col-xs-b20"></div>
            <input
              class="simple-input"
              type="text"
              [value]="phone_ship"
              placeholder="Phone"
            />
        </div>
        <div class="empty-space col-xs-b30 col-sm-b20"></div>
        <textarea class="simple-input"
        placeholder="Note about your order" [(ngModel)]="checkout.description" [ngModelOptions]="{standalone: true}"></textarea>

        
      
    </div>

    <div class="col-md-6">
      <h4 class="h4 col-xs-b25">your order</h4>
      <div class="cart-entry clearfix" *ngFor="let item of cart_item">
        <a class="cart-entry-thumbnail" href="#"
          ><img [src]="item.product.images[0]" alt=""
        /></a>
        <div class="cart-entry-description">
          <table>
            <tbody>
              <tr>
                <td>
                  <div class="h6"><a href="#">{{item.product.name}}</a></div>
                  <div class="simple-article size-1">QUANTITY: {{item.quantity}}</div>
                </td>
                <td>
                  <div class="simple-article size-3 grey">{{item.product.price | number :'1.0-3'}} đ</div>
                  <div class="simple-article size-1">TOTAL: {{item.quantity * item.product.price | number : '1.0-3'}} đ</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="order-details-entry simple-article size-3 grey uppercase">
        <div class="row">
          <div class="col-xs-6">
            cart subtotal
          </div>
          <div class="col-xs-6 col-xs-text-right">
            <div class="color">{{ totalPrice | number : '1.0-3' }} đ</div>
          </div>
        </div>
      </div>
      <div class="order-details-entry simple-article size-3 grey uppercase">
        <div class="row">
          <div class="col-xs-6">
            shipping and handling
          </div>
          <div class="col-xs-6 col-xs-text-right">
            <div class="color">free shipping</div>
          </div>
        </div>
      </div>
      <div class="order-details-entry simple-article size-3 grey uppercase">
        <div class="row">
          <div class="col-xs-6">
            order total
          </div>
          <div class="col-xs-6 col-xs-text-right">
            <div class="color">{{ totalPrice | number : '1.0-3' }} đ</div>
          </div>
        </div>
      </div>
      <div class="empty-space col-xs-b50"></div>
      <h4 class="h4 col-xs-b25">payment method</h4>
        <div id="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>
        <div class="empty-space col-xs-b10"></div>
        <div id="card-errors" role="alert"></div>
        <div class="empty-space col-xs-b30"></div>
        <div class="button block size-2 style-3">
          <span class="button-wrapper">
            <span class="icon"
              ><img src="../../../../assets/customer/img/icon-4.png" alt=""
            /></span>
            <span class="text">place order</span>
          </span>
          <input type="submit" />
        </div>
    </div>
  
  </div>
</form>
</div>

<div class="empty-space col-xs-b35 col-md-b70"></div>