<div class="header-empty-space"></div>

<div class="container">
  <div class="empty-space col-xs-b15 col-md-b70"></div>
  <div class="text-center">
    <div class="simple-article size-3 grey uppercase col-xs-b5">checkout</div>
    <div class="h2">check your info</div>
    <div class="title-underline center"><span></span></div>
  </div>
</div>

<div class="empty-space col-xs-b35 col-md-b50"></div>




<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-b50 col-md-b0">
      <h4 class="h4 col-xs-b25">Billing Address</h4>
      <div>
          <ng-select class="custom" placeholder="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Select Address">
              <ng-option [value]="item.id" *ngFor="let item of user.shipping_addresses">{{item.fullname}}</ng-option>
            </ng-select>
      </div>
      <div class="empty-space col-xs-b10"></div>

      <div class="empty-space col-xs-b20"></div>
      <form [formGroup]="formdemo" (ngSubmit)="onSubmit()">
        <input
          class="simple-input"
          type="text"
          value=""
          placeholder="Reciver Name"
          formControlName="name"
        />
        <div class="empty-space col-xs-b20"></div>
        <input
          class="simple-input"
          type="text"
          value=""
          placeholder="Shipping address"
          formControlName="address"
          #address
        />
        <span
          class="label label-danger"
          *ngIf="
            (formdemo.controls.address.dirty &&
              formdemo.controls.address.errors?.required) ||
            (submitted && formdemo.controls.address.errors?.required)
          "
        >
          Enter your Address
        </span>
        <div class="empty-space col-xs-b20"></div>
            <input
              class="simple-input"
              type="text"
              value=""
              placeholder="Phone"
              formControlName="phone"
            />
            <div class="empty-space col-xs-b20"></div>
        <div class="empty-space col-xs-b30"></div>

        <label class="checkbox-entry checkbox-toggle-title">
            <input type="checkbox"><span>ship to different address?</span>
        </label>
        <div class="checkbox-toggle-wrapper">
            <div class="empty-space col-xs-b25"></div>
            <select class="SlectBox">
                <option disabled="disabled" selected="selected">Choose country</option>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
            <div class="empty-space col-xs-b20"></div>
            <div class="row m10">
                <div class="col-sm-6">
                    <input class="simple-input" type="text" value="" placeholder="First name" />
                    <div class="empty-space col-xs-b20"></div>
                </div>
                <div class="col-sm-6">
                    <input class="simple-input" type="text" value="" placeholder="Last name" />
                    <div class="empty-space col-xs-b20"></div>
                </div>
            </div>
            <input class="simple-input" type="text" value="" placeholder="Company name" />
            <div class="empty-space col-xs-b20"></div>
            <input class="simple-input" type="text" value="" placeholder="Street address" />
            <div class="empty-space col-xs-b20"></div>
            <div class="row m10">
                <div class="col-sm-6">
                    <input class="simple-input" type="text" value="" placeholder="Appartment" />
                    <div class="empty-space col-xs-b20"></div>
                </div>
                <div class="col-sm-6">
                    <input class="simple-input" type="text" value="" placeholder="Town/City" />
                    <div class="empty-space col-xs-b20"></div>
                </div>
            </div>
            <div class="row m10">
                <div class="col-sm-6">
                    <input class="simple-input" type="text" value="" placeholder="State/Country" />
                    <div class="empty-space col-xs-b20"></div>
                </div>
                <div class="col-sm-6">
                    <input class="simple-input" type="text" value="" placeholder="Postcode/ZIP" />
                    <div class="empty-space col-xs-b20"></div>
                </div>
            </div>
        </div>
        <div class="empty-space col-xs-b30 col-sm-b60"></div>
        <textarea class="simple-input"
        placeholder="Note about your order"
        formControlName="des"></textarea>

        
      </form>
    </div>

    <div class="col-md-6">
      <h4 class="h4 col-xs-b25">your order</h4>
      <div class="cart-entry clearfix" *ngFor="let item of cart_item">
        <a class="cart-entry-thumbnail" href="#"
          ><img [src]="item.product.images[0]" alt=""
        /></a>
        <div class="cart-entry-description">
          <table>
            <tbody>
              <tr>
                <td>
                  <div class="h6"><a href="#">{{item.product.name}}</a></div>
                  <div class="simple-article size-1">QUANTITY: {{item.quantity}}</div>
                </td>
                <td>
                  <div class="simple-article size-3 grey">{{item.product.price | number :'1.0-3'}} đ</div>
                  <div class="simple-article size-1">TOTAL: {{item.quantity * item.product.price | number : '1.0-3'}} đ</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="order-details-entry simple-article size-3 grey uppercase">
        <div class="row">
          <div class="col-xs-6">
            cart subtotal
          </div>
          <div class="col-xs-6 col-xs-text-right">
            <div class="color">$1195.00</div>
          </div>
        </div>
      </div>
      <div class="order-details-entry simple-article size-3 grey uppercase">
        <div class="row">
          <div class="col-xs-6">
            shipping and handling
          </div>
          <div class="col-xs-6 col-xs-text-right">
            <div class="color">free shipping</div>
          </div>
        </div>
      </div>
      <div class="order-details-entry simple-article size-3 grey uppercase">
        <div class="row">
          <div class="col-xs-6">
            order total
          </div>
          <div class="col-xs-6 col-xs-text-right">
            <div class="color">$1195.00</div>
          </div>
        </div>
      </div>
      <div class="empty-space col-xs-b50"></div>
      <h4 class="h4 col-xs-b25">payment method</h4>
        <div id="card-element">
          <!-- A Stripe Element will be inserted here. -->
        </div>
        <div class="empty-space col-xs-b10"></div>
        <div id="card-errors" role="alert"></div>
        <div class="empty-space col-xs-b30"></div>
        <div class="button block size-2 style-3">
          <span class="button-wrapper">
            <span class="icon"
              ><img src="../../../../assets/customer/img/icon-4.png" alt=""
            /></span>
            <span class="text">place order</span>
          </span>
          <input type="submit" />
        </div>
    </div>
  </div>
</div>

<div class="empty-space col-xs-b35 col-md-b70"></div>
