<div class="container-12">
  <div class="app-page-title">
    <div class="page-title-wrapper">
      <div class="page-title-heading">
        <div class="page-title-icon">
          <!-- <i class="pe-7s-car icon-gradient bg-mean-fruit">
                        </i> -->
          <i class="fas fa-th icon-gradient bg-mean-fruit"></i>
        </div>
        <div>
          Brand Management
          <div class="page-title-subheading">
              This is a dashboard to manage Brands.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
      <div class="mb-3 card sticky">
        <div class="card-header-tab card-header">
          <div
            class="card-header-title font-size-lg text-capitalize font-weight-normal"
          >
            <i
              class="fas fa-plus header-icon icon-gradient bg-malibu-beach"
            ></i>
            Create Brand
          </div>
        </div>
        <div class="no-gutters">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div
              class="card no-shadow rm-border bg-transparent widget-chart text-left"
              
            >
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <form
                  role="form"
                  #formNew="ngForm"
                  (ngSubmit)="createBrand(formNew)"
                >
                  <div class="form-group">
                    <label for="" style="margin-bottom: inherit;">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="brand_new.name"
                      #title="ngModel"
                      name="title"
                      minlength="2"
                    />
                  </div>

                  <div>
                    <label style="display: flex ; width: fit-content;">
                      <div>
                        <div class="empty-space col-xs-b10 col-sm-b25"></div>
                        <label for="switch_new" style="font-size: 14px"
                          ><span> Active &nbsp;&nbsp;&nbsp;</span></label
                        >
                      </div>
                      <div>
                        <div class="empty-space col-xs-b10 col-sm-b5"></div>
                        <input
                          type="checkbox"
                          id="switch_new"
                          class="button size-2"
                          [(ngModel)]="brand_new.is_active"
                          [ngModelOptions]="{ standalone: true }"
                        /><label class="toggle" for="switch_new">Active</label>
                      </div>
                    </label>
                  </div>
                  <button
                    type="submit"
                    class="mt-3 btn_custom-transition btn_custom btn_custom-outline-primary"
                  >
                    Create
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3 card fade in tab-pane">
        <div class="card-header-tab card-header">
          <div
            class="card-header-title font-size-lg text-capitalize font-weight-normal"
          >
            <i
              class="fas fa-images header-icon icon-gradient bg-grow-early"
            ></i>
            <p class="file">
              <input #file type="file" (change)="Preview($event)" />
              <label for="file">Upload your logo</label>
            </p>
          </div>
        </div>
        <div class="no-gutters">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div
              class="card no-shadow rm-border bg-transparent widget-chart text-left"
            >
              <table class="table table-hover" *ngIf="imgServer.image != ''">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <tbody>
                    <tr>
                      <td class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
                        <img
                          [src]="imgServer.image"
                          alt=""
                          style="width: inherit;"
                        />
                      </td>
                      <td class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <button
                          type="button"
                          class="btn btn-danger"
                          (click)="delImage(i)"
                        >
                          Del
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </div>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <div class="mb-3 card sticky">
        <div class="card-header-tab card-header">
          <div
            class="card-header-title font-size-lg text-capitalize font-weight-normal"
          >
            <i
              class="fas fa-th-list header-icon icon-gradient bg-sunny-morning"
            ></i>
            List Brand
          </div>
        </div>
        <div class="no-gutters row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div
              class="card no-shadow rm-border bg-transparent widget-chart text-left"
              style="height: 74vh;"
            >
              <div
                class="col-xs-12 col-sm-12 col-md-12 col-lg-12 scroll-area-lg"
                style="height : 70vh"
              >
                <table class="table table-bordered table-hover ">
                  <thead>
                    <tr>
                      <th>STT</th>
                      <th>NAME</th>
                      <th>IMAGE</th>
                      <th>Active</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      class="entry open-popup"
                      data-rel="2"
                      *ngFor="let item of brand; let i = index"
                    >
                      <td (click)="open(item.id)">{{ i + 1 }}</td>
                      <td (click)="open(item.id)">{{ item.name }}</td>
                      <td (click)="open(item.id)">
                        <img style="max-width: 200px; max-height: 200px;" [src]="item.logo" alt=" not found" />
                      </td>
                      <td (click)="open(item.id)">{{ item.is_active }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="popup-wrapper">
  <div class="bg-layer"></div>
  <div class="popup-content" data-rel="2">
    <div class="layer-close" (click)="close()"></div>
    <div class="popup-container size-1">
      <div class="popup-align">
        <h3 class="h3 text-center">Brand</h3>
        <div class="empty-space col-xs-b30"></div>
        <div class="image-upload">
          <label for="file-input">
            <ng-container *ngIf="brand_now.logo; else notfound">
              <img
                class="img_category"
                [src]="brand_now.logo"
                alt="not found"
              />
            </ng-container>
            <ng-template #notfound>
              <img
                src="http://res.cloudinary.com/dyjkyzllt/image/upload/v1571823179/onwukitz72gbdfcem5ia.png"
                class="img_category"
              />
            </ng-template>
          </label>
          <input id="file-input" type="file" (change)="editImage($event)" />
        </div>
        <div class="popup-or">
          <span>Detail</span>
        </div>
        <form
          role="form"
          #infoform="ngForm"
          (ngSubmit)="editBrand(infoform)"
        >
          <input
            class="simple-input"
            type="text"
            [(ngModel)]="brand_now.name"
            #catename="ngModel"
            name="brandName"
            minlength="2"
          />
          <span
            class="label label-danger"
            *ngIf="
              (catename.dirty && catename.errors?.required) ||
              (submited && catename.errors?.required)
            "
            >Enter your first name</span
          >
          <span class="label label-danger" *ngIf="catename.errors?.minlength"
            >minlength : 2</span
          >
          <div class="empty-space col-xs-b10 col-sm-b20"></div>
          <div class="row">
            <div class="col-sm-7 col-xs-b10 col-sm-b0">
              <label style="display: flex">
                <div>
                  <div class="empty-space col-xs-b10 col-sm-b5"></div>
                  <input
                    type="checkbox"
                    id="switch"
                    class="button size-2"
                    [(ngModel)]="brand_now.is_active"
                    [ngModelOptions]="{ standalone: true }"
                  /><label class="toggle" for="switch">Active</label>
                </div>
                <div>
                  <div class="empty-space col-xs-b10 col-sm-b15"></div>
                  <label for="switch" style="font-size: 14px"
                    ><span> &nbsp;&nbsp;&nbsp; Active</span></label
                  >
                </div>
              </label>
            </div>
            <div class="col-sm-5 text-right">
              <button type="submit" class="button noshadow size-2 style-3">
                <span class="button-wrapper">
                  <span class="icon"
                    ><img
                      src="../../../../assets/customer/img/icon-4.png"
                      alt=""
                  /></span>
                  <span class="text">submit</span>
                </span>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div (click)="close()" class="button-close"></div>
    </div>
  </div>
</div>
