#switch[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

#switch_new[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

.toggle {
	cursor: pointer;
	text-indent: -9999px;
	width: 70px;
	height: 30px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

.toggle:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 30px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

#switch:checked + .toggle {
	background: #bada55;
}

#switch_new:checked + .toggle{
	background : blue;
}

#switch:checked + .toggle:after , #switch_new:checked + .toggle:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.sticky{
	position: sticky;
	top: 100px;
}

// .scroll{
// 	display: block;
// 	height: 50vh;
// 	width: 100%;
// 	overflow-y: scroll;
// }
.scroll-area-lg{
	height: 59vh;
}

.file label {
    background: #39D2B4;
    padding: 5px 20px;
    color: #fff;
    font-weight: bold;
    font-size: .9em;
    transition: all .4s;
  }
  .file input {
    position: absolute;
    display: inline-block;
    left: 16px;
    top: 16px;
    opacity: 0.01;
    cursor: pointer;
    width: 62%;
  }
  .file input:hover + label{
    background: #34495E;
    color: #39D2B4;
  }
  
  .logo{
	  max-width: 100px;
  }

  .image-upload>input {
	display: none;
  }
  .image-upload {
	width: 60%;
    margin: auto;
  }

  .img_category{
    width: 100%;
    border-radius: 8px;
    height: 100%;
}