
       

<div class="header-empty-space"></div>

        <div class="slider-wrapper">
            <div class="swiper-button-prev visible-lg"></div>
            <div class="swiper-button-next visible-lg"></div>
            <div class="swiper-container" data-parallax="1" data-auto-height="1">
               <div class="swiper-wrapper">
                   <div class="swiper-slide" *ngFor="let item of promotion">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <a href="#" [routerLink]="[ '/product', {category: item.category.id} ]">
                                            <div class="cell-view page-height_cus">
                                            <div class="empty-space col-lg-b50"></div>                                                
                                                <div class="img">
                                                    <img class="bg_custom" [src]="item.image" alt="">
                                                </div>
                                            <div class="col-xs-b40 col-sm-b80"></div>
                                            <div class="empty-space col-xs-b80 col-sm-b0"></div>
                                        </div>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                   </div>
                   <!-- <div class="swiper-slide">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-6 col-sm-offset-6">
                                    <div class="cell-view page-height" >
                                        <div class="col-xs-b40 col-sm-b80"></div>
                                        <div data-swiper-parallax-x="-600">
                                            <div class="simple-article grey size-5">BEST PRICE <span class="color">$199.00</span></div>
                                            <div class="col-xs-b5"></div>
                                        </div>
                                        <div data-swiper-parallax-x="-500">
                                            <h1 class="h1">smartphone x transform</h1>
                                            <div class="title-underline left"><span></span></div>
                                        </div>
                                        <div data-swiper-parallax-x="-400">
                                            <div class="simple-article size-4 grey">In feugiat molestie tortor a malesuada. Etiam a venenatis ipsum. Proin pharetra elit at feugiat commodo vel placerat tincidunt sapien nec</div>
                                            <div class="col-xs-b30"></div>
                                        </div>
                                        <div data-swiper-parallax-x="-300">
                                            <div class="buttons-wrapper">
                                                <a class="button size-2 style-2" href="#">
                                                    <span class="button-wrapper">
                                                        <span class="icon"><img src="../../../../assets/customer/img/icon-1.png" alt=""></span>
                                                        <span class="text">Learn More</span>
                                                    </span>
                                                </a>
                                                <a class="button size-2 style-3" href="#">
                                                    <span class="button-wrapper">
                                                        <span class="icon"><img src="../../../../assets/customer/img/icon-3.png" alt=""></span>
                                                        <span class="text">Add To Cart</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-xs-b40 col-sm-b80"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-product-preview align-left">
                                <div class="product-preview-shortcode">
                                    <div class="preview">
                                        <div class="swiper-lazy-preloader"></div>
                                        <div class="entry full-size swiper-lazy active" data-background="../../../../assets/customer/img/product-preview-1.jpg"></div>
                                        <div class="entry full-size swiper-lazy" data-background="../../../../assets/customer/img/product-preview-2.jpg"></div>
                                        <div class="entry full-size swiper-lazy" data-background="../../../../assets/customer/img/product-preview-3.jpg"></div>
                                    </div>
                                    <div class="sidebar valign-middle" data-swiper-parallax-x="-300">
                                        <div class="valign-middle-content">
                                            <div class="entry active"><img src="../../../../assets/customer/img/product-4.png" alt="" /></div>
                                            <div class="entry"><img src="../../../../assets/customer/img/product-5.png" alt="" /></div>
                                            <div class="entry"><img src="../../../../assets/customer/img/product-6.png" alt="" /></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="empty-space col-xs-b80 col-sm-b0"></div>
                        </div>
                   </div> -->
               </div>
               <div class="swiper-pagination"></div>
            </div>
        </div>

        <div class="grey-background">
            <!-- <div class="empty-space col-xs-b40 col-sm-b80"></div> -->
            <!-- <div class="header-empty-space"></div> -->

            <div class="container">
                <div class="empty-space col-xs-b15 col-sm-b50 col-md-b50"></div>
                <div class="row">
                    <div class="col-md-9 col-md-push-3">
                        <div class="slider-wrapper">
                            <div class="swiper-container arrows-align-top" data-breakpoints="1" data-xs-slides="1" data-sm-slides="3" data-md-slides="4" data-lt-slides="4" data-slides-per-view="4">
                                <div class="h4 swiper-title">lastest products</div>
                                <div class="empty-space col-xs-b20"></div>
                                <div class="swiper-button-prev style-1"></div>
                                <div class="swiper-button-next style-1"></div>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide" *ngFor="let item of NewestProduct">
                                        <div class="product-shortcode style-1 small">
                                            <div class="title">
                                                <div class="simple-article size-1 color col-xs-b5"><a href="#">{{item.category.title}}</a></div>
                                                <div class="h6 animate-to-green"><a href="#">{{item.name | formatTitle:32}}</a></div>
                                            </div>
                                            <div class="preview lastest">
                                                <img [src]="item.images[0]" alt="" height="400px" width="460px">
                                                <div class="preview-buttons valign-middle">
                                                    <div class="valign-middle-content">
                                                        <a class="button size-2 style-2" href="#" [routerLink]="[ '/index/home', item.id ]" (click)="reload()">
                                                            <span class="button-wrapper">
                                                                <span class="icon"><img src="../../../../assets/customer/img/icon-1.png" alt=""></span>
                                                                <span class="text">Learn More</span>
                                                            </span>
                                                        </a>
                                                        <a class="button size-2 style-3" href="#">
                                                            <span class="button-wrapper">
                                                                <span class="icon"><img src="../../../../assets/customer/img/icon-3.png" alt=""></span>
                                                                <span class="text">Add To Cart</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="price">
                                                <div class="simple-article size-4" style="color: red;"><strong>{{item.price | number : '1.0-3'}} vnđ</strong></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-pagination relative-pagination visible-xs"></div>
                            </div>
                        </div>
    
                        <div class="empty-space col-xs-b20 col-sm-b35 col-md-b40"></div>
    
                        <div class="align-inline spacing-1">
                            <div class="h4">Sport gadgets</div>
                        </div>
                        <div class="empty-space col-xs-b25 col-sm-b30"></div>
    
                        <div class="products-content">
                            <div class="products-wrapper">
                                <div class="row nopadding">
                                    <div class="col-sm-4" *ngFor="let item of collection.data | paginate: config">
                                        <div class="product-shortcode style-1">
                                            <div class="title">
                                                <div class="simple-article size-1 color col-xs-b5"><a href="#">{{item.category.title}}</a></div>
                                                <div class="h6 animate-to-green"><a href="#">{{item.name}}</a></div>
                                            </div>
                                            <div class="empty-space col-xs-b20 col-sm-b35 col-md-b15"></div>
                                            <div class="preview product-list item_product">
                                                <img [src]="item.images[0]" alt="">
                                                <div class="preview-buttons valign-middle ">
                                                    <div class="valign-middle-content">
                                                        <a class="button size-2 style-2" href="#" [routerLink]="[ '/index/home', item.id ]" (click)="reload()">
                                                            <span class="button-wrapper">
                                                                <span class="icon"><img src="../../../../assets/customer/img/icon-1.png" alt=""></span>
                                                                <span class="text">Learn More</span>
                                                            </span>
                                                        </a>
                                                        <a class="button size-2 style-3" href="#">
                                                            <span class="button-wrapper">
                                                                <span class="icon"><img src="../../../../assets/customer/img/icon-3.png" alt=""></span>
                                                                <span class="text">Add To Cart</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="price">
                                                <!-- <div class="simple-article size-4"><span class="color">$630.00</span>&nbsp;&nbsp;&nbsp;<span class="line-through">$350.00</span></div> -->
                                                <div class="simple-article size-4">
                                                    <span style="color: red;"><b>{{item.price | number:'1.0-3'}} vnđ</b> </span>
                                                </div>
    
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="empty-space col-xs-b35 col-sm-b0"></div>
                        <div class="row">
    
                            
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <pagination-template
                #p="paginationApi"
                [id]="config.id"
                (pageChange)="onPageChange($event)"
              >
                <div class="custom-pagination">
                  <div
                    class="col-sm-3 pagination-previous"
                    [class.disabled]="p.isFirstPage()"
                  >
                   <!--    *ngIf="!p.isFirstPage()"
                   -->
                    <a
                      class="button size-1 style-5"
                      (click)="p.previous()"
                    >
                      <span class="button-wrapper">
                        <span class="icon"
                          ><i class="fa fa-angle-left" aria-hidden="true"></i
                        ></span>
                        <span class="text">prev page</span>
                      </span>
                    </a>
                  </div>
    
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <span *ngFor="let page of p.pages">
                      <a
                        class="pagination "
                        [class.active]="p.getCurrent() === page.value"
                        (click)="p.setCurrent(page.value)"
                        *ngIf="p.getCurrent() !== page.value"
                      >
                        <span>{{ page.label }}</span>
                      </a>
    
                      <div
                        class="pagination active"
                        *ngIf="p.getCurrent() === page.value"
                      >
                        <span>{{ page.label }}</span>
                      </div>
                    </span>
                  </div>
                  <div
                    class="pagination-next col-sm-3 text-right"
                    [class.disabled]="p.isLastPage()"
                  >
                      <!-- *ngIf="!p.isLastPage()" -->
    
                    <a
                      class="button size-1 style-5"
                      (click)="p.next()"
                      
                    >
                      <span class="button-wrapper">
                        <span class="icon"
                          ><i class="fa fa-angle-right" aria-hidden="true"></i
                        ></span>
                        <span class="text">next page</span>
                      </span>
                    </a>
                  </div>
                </div>
              </pagination-template>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-pull-9">
                        <div class="h4 col-xs-b10">popular categories</div>
                        <ul class="categories-menu transparent nav">
                            <li class="nav-item" *ngFor="let item of categories ; let i=index" data-toggle="tab" [ngClass]="{'active': i==0}">
                                <a  class="nav-link" (click)="changeCate(item.id)">
                                    <span><b>{{item.title}}</b></span>
                                </a>
                            </li>
                        </ul>
                        <div class="empty-space col-xs-b25 col-sm-b50"></div>
                        <div class="h4 col-xs-b25">Price</div>
                        <div id="prices-range"></div>
                        <div class="simple-article size-1">PRICE: <b class="grey">$<span class="min-price">40</span> - $<span class="max-price">300</span></b></div>
                        <div class="empty-space col-xs-b25 col-sm-b50"></div>
                        <div class="h4 col-xs-b25">Brands</div>
                            <ul class="categories-menu transparent nav">
                                <li class="nav-item" *ngFor="let item of brand">
                                    <a data-toggle="tab" class="nav-link" (click)="changeBrand(item.id)">
                                        <span>{{item.name}}</span>
                                    </a>
                                </li>
                            </ul>
                        <div class="empty-space col-xs-b25 col-sm-b50"></div>
                    </div>
                </div>
            </div>
            <div class="empty-space col-xs-b15 col-sm-b45"></div>
            <div class="empty-space col-md-b70"></div>
    
    
        </div>

