
       

<div class="header-empty-space"></div>

        <div class="slider-wrapper">
            <div class="swiper-container">
                <owl-carousel-o [options]="customOptions" id="banner">
                    <ng-template carouselSlide *ngFor="let item of promotion">
                            <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a href="#">
                                                    <div class="cell-view page-height_cus">
                                                    <div class="empty-space col-lg-b50"></div>                                                
                                                        <div class="img">
                                                            <img class="bg_custom" [src]="item.image" alt="">
                                                        </div>
                                                    <div class="col-xs-b40 col-sm-b80"></div>
                                                    <div class="empty-space col-xs-b80 col-sm-b0"></div>
                                                </div>
                                            </a>
                                            
                                        </div>
                                    </div>
                                </div>
                    </ng-template>  
                  </owl-carousel-o>
            </div>
        </div>

        <div class="grey-background">
            <!-- <div class="empty-space col-xs-b40 col-sm-b80"></div> -->
            <!-- <div class="header-empty-space"></div> -->

            <div class="container">
                <div class="empty-space col-xs-b15 col-sm-b50 col-md-b50"></div>
                <div class="row">
                    <div class="col-md-9 col-md-push-3">
                            <div class="slider-wrapper">
                                <div class="swiper-container arrows-align-top">
                                <div class="h4 swiper-title">lastest products</div>
                                <div class="empty-space col-xs-b15 col-sm-b50 col-md-b10"></div>
                                        
                                        <owl-carousel-o [options]="OptionForProduct" id="product">

                                                <ng-template carouselSlide *ngFor="let item of NewestProduct ; let i=index">
                                                        <div class="swiper-slide" >
                                                                <div class="product-shortcode style-1 small">
                                                                    <div class="title">
                                                                        <div class="simple-article size-1 color col-xs-b5"><a href="#">{{item.category.title}}</a></div>
                                                                        <div class="h6 animate-to-green"><a href="#">{{item.name | formatTitle:32}}</a></div>
                                                                    </div>
                                                                    <div class="preview lastest">
                                                                        <img [src]="item.images[0]" alt="" height="400px" width="460px">
                                                                        <div class="preview-buttons valign-middle">
                                                                            <div class="valign-middle-content">
                                                                                <a class="button size-2 style-2" href="#" [routerLink]="[ '/index/home', item.id ]" (click)="reload()">
                                                                                    <span class="button-wrapper">
                                                                                        <span class="icon"><img src="../../../../assets/customer/img/icon-1.png" alt=""></span>
                                                                                        <span class="text">Learn More</span>
                                                                                    </span>
                                                                                </a>
                                                                                <a class="button size-2 style-3" href="#">
                                                                                    <span class="button-wrapper">
                                                                                        <span class="icon"><img src="../../../../assets/customer/img/icon-3.png" alt=""></span>
                                                                                        <span class="text">Add To Cart</span>
                                                                                    </span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="price">
                                                                        <div *ngIf="priceOfNewProduct[i] == 0" class="simple-article size-4" style="color: #b8cd06;"><strong>{{item.price | number : '1.0-3'}} đ</strong></div>
                                                                        <div *ngIf="priceOfNewProduct[i] != 0" class="simple-article size-4" >
                                                                            <strong style="color: red;">{{priceOfNewProduct[i] | number : '1.0-3'}} đ </strong>
                                                                            <small style="text-decoration: line-through;"> {{item.price | number : '1.0-3'}} đ</small>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                </ng-template>  
                                              </owl-carousel-o>
                                </div>
                            </div>
                        <div class="empty-space col-xs-b20 col-sm-b35 col-md-b40"></div>
    
                        <div class="align-inline spacing-1">
                            <div class="h4">Sport gadgets</div>
                        </div>
                        <div class="empty-space col-xs-b25 col-sm-b30"></div>
    
                        <div class="products-content">
                            <div class="products-wrapper">
                                <div class="row nopadding">
                                    <div class="col-sm-4" *ngFor="let item of collection.data | paginate: config">
                                        <div class="product-shortcode style-1">
                                            <div class="title">
                                                <div class="simple-article size-1 color col-xs-b5"><a href="#">{{item.category.title}}</a></div>
                                                <div class="h6 animate-to-green"><a href="#">{{item.name}}</a></div>
                                            </div>
                                            <div class="empty-space col-xs-b20 col-sm-b35 col-md-b15"></div>
                                            <div class="preview product-list item_product">
                                                <img [src]="item.images[0]" alt="">
                                                <div class="preview-buttons valign-middle ">
                                                    <div class="valign-middle-content">
                                                        <a class="button size-2 style-2" href="#" [routerLink]="[ '/index/home', item.id ]" (click)="reload()">
                                                            <span class="button-wrapper">
                                                                <span class="icon"><img src="../../../../assets/customer/img/icon-1.png" alt=""></span>
                                                                <span class="text">Learn More</span>
                                                            </span>
                                                        </a>
                                                        <a class="button size-2 style-3" href="#">
                                                            <span class="button-wrapper">
                                                                <span class="icon"><img src="../../../../assets/customer/img/icon-3.png" alt=""></span>
                                                                <span class="text">Add To Cart</span>
                                                            </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="price">
                                                <!-- <div class="simple-article size-4"><span class="color">$630.00</span>&nbsp;&nbsp;&nbsp;<span class="line-through">$350.00</span></div> -->
                                                <div class="simple-article size-4">
                                                        <ng-container *ngIf="discount == 0; else elseTemplate">
                                                                <span style="color: #b8cd06;"><b>{{item.price | number:'1.0-3'}} đ</b></span>
                                                            </ng-container>
                                                            <ng-template #elseTemplate>
                                                                <span style="color: red;"><b>{{item.price * (100 - discount)/100 | number:'1.0-3'}} đ </b></span>
                                                                <span> <small style="text-decoration: line-through;"> {{item.price | number : '1.0-3'}} đ</small></span>
                                                            </ng-template>
                                                    
                                                </div>
    
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="empty-space col-xs-b35 col-sm-b0"></div>
                        <div class="row">
    
                            
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <pagination-template
                #p="paginationApi"
                [id]="config.id"
                (pageChange)="onPageChange($event)"
              >
                <div class="custom-pagination">
                  <div
                    class="col-sm-3 pagination-previous"
                    [class.disabled]="p.isFirstPage()"
                  >
                   <!--    *ngIf="!p.isFirstPage()"
                   -->
                    <a
                      class="button size-1 style-5"
                      (click)="p.previous()"
                    >
                      <span class="button-wrapper">
                        <span class="icon"
                          ><i class="fa fa-angle-left" aria-hidden="true"></i
                        ></span>
                        <span class="text">prev page</span>
                      </span>
                    </a>
                  </div>
    
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <span *ngFor="let page of p.pages">
                      <a
                        class="pagination "
                        [class.active]="p.getCurrent() === page.value"
                        (click)="p.setCurrent(page.value)"
                        *ngIf="p.getCurrent() !== page.value"
                      >
                        <span>{{ page.label }}</span>
                      </a>
    
                      <div
                        class="pagination active"
                        *ngIf="p.getCurrent() === page.value"
                      >
                        <span>{{ page.label }}</span>
                      </div>
                    </span>
                  </div>
                  <div
                    class="pagination-next col-sm-3 text-right"
                    [class.disabled]="p.isLastPage()"
                  >
                      <!-- *ngIf="!p.isLastPage()" -->
    
                    <a
                      class="button size-1 style-5"
                      (click)="p.next()"
                      
                    >
                      <span class="button-wrapper">
                        <span class="icon"
                          ><i class="fa fa-angle-right" aria-hidden="true"></i
                        ></span>
                        <span class="text">next page</span>
                      </span>
                    </a>
                  </div>
                </div>
              </pagination-template>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-md-pull-9">
                        <div class="h4 col-xs-b10">popular categories</div>
                        <ul class="categories-menu transparent nav">
                            <li class="nav-item" *ngFor="let item of categories ; let i=index" data-toggle="tab" [ngClass]="{'active': i==0}">
                                <a  class="nav-link" (click)="changeCate(item.id)">
                                    <span><b>{{item.title}}</b></span>
                                </a>
                            </li>
                        </ul>
                        <div class="empty-space col-xs-b25 col-sm-b50"></div>
                        <div class="h4 col-xs-b25">Price</div>
                        <ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options_slider" (click)="loadProductFilter()"></ng5-slider>
                        <div class="empty-space col-xs-b25 col-sm-b50"></div>
                        <div class="h4 col-xs-b25">Brands</div>
                            <ul class="categories-menu transparent nav">
                                <li class="nav-item" *ngFor="let item of brand">
                                    <a data-toggle="tab" class="nav-link" (click)="changeBrand(item.id)">
                                        <span>{{item.name}}</span>
                                    </a>
                                </li>
                            </ul>
                        <div class="empty-space col-xs-b25 col-sm-b50"></div>
                    </div>
                </div>
            </div>
            <div class="empty-space col-xs-b15 col-sm-b45"></div>
            <div class="empty-space col-md-b70"></div>
    
    
        </div>

