

.img{
    width: 80vw;
    height: 25vw;
    margin: auto;
    .bg_custom{
        height : 25vw;
        width: 80vw;
    }
}

.transparent{
    li{
        border-radius: 0px;
        padding-left: 5px;
        &:hover{
            // color : #b8cd06;
            a{
                color : #b8cd06
            }
        }
        

        
    }

}

.nav{
    display: block;
}
.active{
    background-color: #343434;
    transform: scale(1,1);
    color: #b8cd06;
}

// li:focus{
//     color: red;
// }

.simple-article{
    a{
        text-transform: uppercase;
    }
}

.lastest{
    height: 173.38px;
}
.item_product{
    height: 257.01px;
}


.custom-pagination .page-number{
    display: inline-block;
    /* padding: 5px 12px; */
    background: #afffe6;
    margin: 0px 4px;
    border-radius: 25px;
}
 
.page-number.current{
    background: #ffffff!important;
    border: 2px solid #458873;
}
 
.page-number span{
    display: block;
    width: 28px;
    height: 28px;
    font-size: 18px;
    cursor: pointer;
}
 
.pagination-previous,.pagination-next{
    display: inline-block;
    font-weight: bold;
}

.owl-dots{
    .owl-dot{
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 100%;
        border: 1px #d9d9d9 solid;
        transition: all .15s;
        -webkit-transition: all .15s;
    }
    .active{
        border: 2px #b8cd06 solid;
    }

}

