<div class="container-12">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <!-- <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    </i> -->
                    <!-- <i class="fas fa-th icon-gradient bg-mean-fruit"></i> -->
                    <i class="fas fa-box-open icon-gradient bg-mean-fruit"></i>
                </div>
                <div>User Management
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="mb3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                            <i class="fas fa-th-list header-icon icon-gradient bg-sunny-morning"></i>
                            List User
                    </div>
                </div>
                <div class="no-gutters row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <table class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr >
                                            <th style="text-align: center;">STT</th>
                                            <th style="text-align: center;">Email</th>
                                            <th style="text-align: center;">Name</th>
                                            <th style="text-align: center;">Gender</th>
                                            <th style="width: 100px; text-align: center;">Active</th>
                                            <th style="width: 126px; text-align: center;">Change Password</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of users | paginate : {itemsPerPage:10, currentPage: p}; let i = index">
                                            
                                            <td>{{ (p-1)*10 + i + 1 }}</td>
                                            <td>{{item.email}}</td>
                                            <td>{{item.fullname}}</td>
                                            <td>{{item.gender}}</td>
                                            <ng-container *ngIf="item.active ; else sua">
                                                <td style="background-color: lightgreen; text-align: center;" (click)="changeStatus(i,item.id)"><i class="fas fa-user-check"></i></td>
                                                </ng-container>
                                                <ng-template #sua>
                                                <td style="background-color: #ff718c;text-align: center; " (click)="changeStatus(i,item.id)"><i class="fas fa-user-lock"></i></td>
                                                </ng-template>
                                            <td style="text-align: center;"><button type="button" class="btn_custom-transition btn_custom btn_custom-outline-primary open-popup" data-rel="10" (click)="selectUser(item.id)"><i class="fas fa-key"></i></button></td>
                                        </tr>
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>
                        
                    </div>
                    <div class="container">
                        <pagination-controls 
                            (pageChange)="p = $event"  
                            maxSize="10"
                            previousLabel="Previous"
                            nextLabel="Next">
                        </pagination-controls>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="popup-wrapper">
        <div class="bg-layer"></div>
        <div class="popup-content" data-rel="10">
          <div class="layer-close" (click)="close()"></div>
          <div class="popup-container size-1">
            <div class="popup-align-custom">
              <h3 class="h3 text-center">User's Password</h3>
              <div class="empty-space col-xs-b30"></div>
              <form
                role="form"
                #infoform="ngForm"
                (ngSubmit)="changePass(infoform)"
              >
              <div class="row">
                
                <input type="text" ngModel name="newPass" class="form-control" placeholder="New Password" >
                <input type="text" ngModel name="confPass" class="form-control" placeholder="Confirm Password">
                
              </div>
                <div class="row">
                  <div class="col-sm-5 col-xs-b10 col-sm-b0">
                  </div>
                  <div class="col-sm-7 text-right">
                    
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                      
                    </div>
                    
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                      <button
                          type="submit"
                          class="mt-1 btn_custom-transition btn_custom btn_custom-outline-success"
                        >
                          Submit
                        </button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div (click)="close()" class="button-close"></div>
          </div>
        </div>
      </div>
      