<div class="container-12">
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon">
                    <!-- <i class="pe-7s-car icon-gradient bg-mean-fruit">
                    </i> -->
                    <!-- <i class="fas fa-th icon-gradient bg-mean-fruit"></i> -->
                    <i class="fas fa-box-open icon-gradient bg-mean-fruit"></i>
                </div>
                <div>User Management
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="mb3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                            <i class="fas fa-th-list header-icon icon-gradient bg-sunny-morning"></i>
                            List User
                    </div>
                </div>
                <div class="no-gutters row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <table class="table table-hover table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Email</th>
                                            <th>Gender</th>
                                            <th>Active</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of users | paginate : {itemsPerPage:10, currentPage: p}; let i = index">
                                            
                                            <td>{{ (p-1)*10 + i + 1 }}</td>
                                            <td>{{item.email}}</td>
                                            <td>{{item.gender}}</td>
                                            <td>{{item.active}}</td>
                                        </tr>
                                    </tbody>
                                    
                                </table>
                            </div>
                        </div>
                        
                    </div>
                    <div class="container">
                        <pagination-controls 
                            (pageChange)="p = $event"  
                            maxSize="10"
                            previousLabel="Previous"
                            nextLabel="Next">
                        </pagination-controls>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
