<header>
    <div class="header-top">
        <div class="content-margins">
            <div class="row">
                <div class="col-md-5 hidden-xs hidden-sm">
                    <div class="entry"><b>contact us:</b> <a href="tel:+35235551238745">+3  (523) 555 123 8745</a></div>
                    <div class="entry"><b>email:</b> <a href="mailto:office@exzo.com">GElectronic@GGroup.com</a></div>
                </div>
                <div class="col-md-7 col-md-text-right">
                    <ng-container *ngIf="token; else elseTemplate">
                        <div id="account" class="entry">
                            <a (click)="delay()" [routerLink]="[ '/index/user' ]">
                                <ng-container *ngIf="user.avatar; else elseTemplate">
                                        <img [src]="user.avatar" alt="" width="20px">
                                    </ng-container>
                                    <ng-template #elseTemplate>
                                        <img src="https://res.cloudinary.com/dyjkyzllt/image/upload/v1571902550/qpng7veaeyhwcpt8e1to.png" alt=""  width="20px">
                                    </ng-template>
                                <span>{{user.email}}</span>
                            </a>
                        </div>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <div class="entry"><a class="open-popup" data-rel="1"><b>login</b></a>&nbsp; or &nbsp;<a class="open-popup" data-rel="2"><b>register</b></a></div>
                    </ng-template>
                    
                    <div *ngIf="token" class="entry hidden-xs hidden-sm cart">
                        <a [routerLink]="[ '/index/cart' ]">
                            <b class="hidden-xs">Your bag</b>
                            <span class="cart-icon">
                                <i class="fas fa-shopping-cart" aria-hidden="true"></i>
                                <span class="cart-label">{{ count }}</span>
                            </span>
                            <span class="cart-title hidden-xs">{{ totalPrice | number : '1.0-3' }} đ</span>
                        </a>
                        <div class="cart-toggle hidden-xs hidden-sm">
                            <div class="cart-overflow">
                                <div class="cart-entry clearfix" *ngFor="let item of cart_items">
                                    <a class="cart-entry-thumbnail"  ><img [src]="item.product.images[0]" alt="" /></a>
                                    <div class="cart-entry-description">
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="h6"><a [routerLink]="['/index/home', item.product.id]" (click)="delay()">{{item.product.name | formatTitle : 30}}</a></div>
                                                    <div class="simple-article size-1">QUANTITY: {{item.quantity}}</div>
                                                </td>
                                                <td>
                                                    <div class="simple-article size-3 grey">{{item.product.price | number : '1.0-3'}} đ</div>
                                                    <div class="simple-article size-1">TOTAL: {{ item.product.price * item.quantity | number : '1.0-3'}} đ</div>
                                                </td>
                                                <td>
                                                    <div class="button-close" (click)="delCart_Item(item.id)"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!-- <div class="cart-entry clearfix">
                                    <a class="cart-entry-thumbnail" href="#"><img src="../../../../assets/customer/img/product-2.png" alt="" /></a>
                                    <div class="cart-entry-description">
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="h6"><a href="#">modern beat ht</a></div>
                                                    <div class="simple-article size-1">QUANTITY: 2</div>
                                                </td>
                                                <td>
                                                    <div class="simple-article size-3 grey">$155.00</div>
                                                    <div class="simple-article size-1">TOTAL: $310.00</div>
                                                </td>
                                                <td>
                                                    <div class="cart-color" style="background: #bf584b;"></div>
                                                </td>
                                                <td>
                                                    <div class="button-close"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="cart-entry clearfix">
                                    <a class="cart-entry-thumbnail" href="#"><img src="../../../../assets/customer/img/product-3.png" alt="" /></a>
                                    <div class="cart-entry-description">
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="h6"><a href="#">modern beat ht</a></div>
                                                    <div class="simple-article size-1">QUANTITY: 2</div>
                                                </td>
                                                <td>
                                                    <div class="simple-article size-3 grey">$155.00</div>
                                                    <div class="simple-article size-1">TOTAL: $310.00</div>
                                                </td>
                                                <td>
                                                    <div class="cart-color" style="background: #facc22;"></div>
                                                </td>
                                                <td>
                                                    <div class="button-close"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="cart-entry clearfix">
                                    <a class="cart-entry-thumbnail" href="#"><img src="../../../../assets/customer/img/product-3.png" alt="" /></a>
                                    <div class="cart-entry-description">
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="h6"><a href="#">modern beat ht</a></div>
                                                    <div class="simple-article size-1">QUANTITY: 2</div>
                                                </td>
                                                <td>
                                                    <div class="simple-article size-3 grey">$155.00</div>
                                                    <div class="simple-article size-1">TOTAL: $310.00</div>
                                                </td>
                                                <td>
                                                    <div class="cart-color" style="background: #facc22;"></div>
                                                </td>
                                                <td>
                                                    <div class="button-close"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="cart-entry clearfix">
                                    <a class="cart-entry-thumbnail" href="#"><img src="../../../../assets/customer/img/product-3.png" alt="" /></a>
                                    <div class="cart-entry-description">
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="h6"><a href="#">modern beat ht</a></div>
                                                    <div class="simple-article size-1">QUANTITY: 2</div>
                                                </td>
                                                <td>
                                                    <div class="simple-article size-3 grey">$155.00</div>
                                                    <div class="simple-article size-1">TOTAL: $310.00</div>
                                                </td>
                                                <td>
                                                    <div class="cart-color" style="background: #facc22;"></div>
                                                </td>
                                                <td>
                                                    <div class="button-close"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="cart-entry clearfix">
                                    <a class="cart-entry-thumbnail" href="#"><img src="../../../../assets/customer/img/product-3.png" alt="" /></a>
                                    <div class="cart-entry-description">
                                        <table>
                                            <tr>
                                                <td>
                                                    <div class="h6"><a href="#">modern beat ht</a></div>
                                                    <div class="simple-article size-1">QUANTITY: 2</div>
                                                </td>
                                                <td>
                                                    <div class="simple-article size-3 grey">$155.00</div>
                                                    <div class="simple-article size-1">TOTAL: $310.00</div>
                                                </td>
                                                <td>
                                                    <div class="cart-color" style="background: #facc22;"></div>
                                                </td>
                                                <td>
                                                    <div class="button-close"></div>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div> -->
                            </div>
                            <div class="empty-space col-xs-b40"></div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="cell-view empty-space col-xs-b50">
                                        <div class="simple-article size-5 grey">TOTAL <span class="color">{{ totalPrice | number : '1.0-3' }} đ</span></div>
                                    </div>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <a class="button size-2 style-3"  [routerLink]="[ '/index/checkout' ]">
                                        <span class="button-wrapper">
                                            <span class="icon"><img src="../../../../assets/customer/img/icon-4.png" alt=""></span>
                                            <span class="text">proceed to checkout</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="token" class="entry"><a (click)="logout()"><b><i class="fas fa-sign-out-alt"></i></b></a></div>
                    <div class="hamburger-icon">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="content-margins">
            <div class="row">
                <div class="col-xs-3 col-sm-1">
                    <a id="logo" [routerLink]="['']" ><img src="../../../../assets/admin/css/assets/images/logo-inverse.png" alt="" /></a>  
                </div>
                <div class="col-xs-9 col-sm-11 text-right">
                    <div class="nav-wrapper">
                        <div class="nav-close-layer"></div>
                        <nav>
                            <ul>
                                <li routerLinkActive="active">
                                    <a href="/index/home" [routerLink]="[ '/index/home' ]">HOME</a>
                                </li>
                                <li routerLinkActive="active">
                                    <a [routerLink]="[ '/index/about' ]">about us</a>
                                </li>
                                <li routerLinkActive="active"><a [routerLink]="[ '/index/contact' ]" >contact</a></li>
                            </ul>
                            <div class="navigation-title">
                                Navigation
                                <div class="hamburger-icon active">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <div class="header-bottom-icon toggle-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                    <div class="header-bottom-icon visible-rd"><i class="fa fa-heart-o" aria-hidden="true"></i></div>
                    <div class="header-bottom-icon visible-rd">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <span class="cart-label">5</span>
                    </div>
                </div>
            </div>
            <div class="header-search-wrapper">
                <div class="header-search-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                                <form>
                                    <div class="search-submit">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                        <input type="submit"/>
                                    </div>
                                    <input class="simple-input style-1" type="text" placeholder="Enter keyword" (keyup)="search()" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"/>
                                </form>
                                <ul class="list-group result">
                                    <li *ngFor="let item of searchResult" class="list-group-item ">
                                        <img [src]="item.images[0]" alt="" width="70px">
                                        
                                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
                                            
                                        </div>
                                        
                                        <div class="title h6">
                                            {{item.name}}
                                    </div> 
                                    </li>
                                </ul>
                            </div>
                            
                        </div>
                    </div>
                    <div class="button-close"></div>
                </div>
            </div>
        </div>
    </div>

</header>


